* {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* home.css */
.nav-links a:hover {
    color: #0077cc;
    }
    
    
    .search-box {
    display: flex;
    border: 2px solid #0077cc;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    }
    
    
    .search-box input {
    padding: 8px 12px;
    border: none;
    outline: none;
    width: 200px;
    }
    
    
    .search-box button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: #0077cc;
    color: white;
    font-weight: bold;
    }
    
    
    /* CARROSSEL */
    .carousel {
    width: 100%;
    height: 280px; /* aumentado */
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 50px auto;
    max-width: 950px; /* aumentado */
    background: #ffffff;
    }
    
    
    .arrow {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    }
    
    
    .big-btn {
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #0077cc;
    background: #0077cc;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    }
    
    
    .big-btn:hover {
    background: #005fa3;
    }